<%- include("partials/header.ejs"); -%>
<%- include('style.ejs'); -%>
<%- include("partials/nav.ejs"); -%>
    <!-- <h1>Coding-problems</h1>

</div>
  </div>

  <div class="footer">
    <a href="https://www.linkedin.com/in/chinmay-maldar-0602b7213"><p>Made with ❤️ by Chinmay Maldar</p></a>
  </div>


</body>
</html>
  <%- include('partials/Script.ejs'); -%>
 


  